<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title> Resume </title>
</head>

<body>

    <nav class="navbar">
        <ul id="nav-list">
            <li><a class="active" href="">Resume</a></li>
            <li><a href="">Project</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <button id="menu-toggle" class="menu-toggle">☰</button>
    </nav>

    <div class="container">
        <div class="box-content">
            <div class="images">
                <img src="../public/image/IMG_4130.JPG" alt="" width="100%" height="100%">
            </div>
            <div class="content">
                <div class="title"> Hello </div>
                <div class="text"> A Bit About Me </div>
                <div class="about-me">
                    <p>
                        Hello, my name is Beam. I am currently a third-year university student majoring in IT (Software
                        Engineering).
                    </p>
                    <p>
                        Alongside my studies, I work as a freelancer, handling tasks such as designing, programming, and
                        website development. I enjoy learning new things in this field and have a deep passion for it.
                    </p>
                </div>
            </div>
        </div>

        <div class="box-project">
            <p>Project</p>
        </div>

        <div class="box-contact">
            <p>Contact</p>
        </div>
    </div>

    <script src="../public/script/script.js"></script>
</body>

</html>